@media all and (max-width:425px){
    /* aca tengo que modificar navbar, carrusel, banner y footer */
    header {
        width: 0px;
        height: 80px;
        background-color: #ffffff;
        margin-left: 68px;
        }

    .encabezado-responsive {
        width: 410px;
        height: 70px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: start;
        gap: 70px;
        border-style: solid;
        border-color: #1D1D1D;
        position: fixed;
        margin-top: -35px;
    }
    .logo{ 
        display: none;
    }
    
    nav .navbar{
        display: none;

    }

    .menu-respon{
        width: 30px;
        height: auto;
        margin-right: 10px;
    }
    
    nav .navbar-responsive{
        font-size: 1.5rem;
        cursor: pointer;
        display: block;
        padding: 0px 10px;
    }
    
    .menu-responsive{
        position: fixed;
        list-style: none;
        background-color: rgba(0, 0, 0, .9);
        width: 45%;
        display: none;
        justify-content: center;
        padding: 3px ;
        margin: 14px 0px 0px 5px;
        text-align: center;
        height: calc(100% - 70px);
        overflow-y: auto;
        
        left: 100%;
        transition: all 0.5s;
    }
    .checkbtn{
        cursor: pointer;
    }
    #check{
        display: none;
    }

    .menu-responsive li{
        display: block;
        margin: 20px;
        padding: inherit;
        line-height: 30px;
        margin-top: 80px;

    }

    ul li a {
        font-family: "Montserrat", sans-serif;
        text-decoration: none;
        color: $background-segundario;
        font-size: 20px;
        font-weight: bolder;
        color: #fff;
        text-shadow:
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px rgb(127, 146, 146),
            0 0 80px rgb(0, 0, 0),
            0 0 90px rgb(0, 0, 0),
            0 0 100px rgb(158, 170, 170),
            0 0 150px rgb(25, 29, 29);
    }

    .menu-responsive li a:hover, .menu-responsive li a.active{
        background: none;
    }

    #check:checked ~ .menu-responsive{
        left: 0;
    }

    .navbar-responsive .menu-responsive{
        display: block;
        /* margin-top: 52px;  */
    }

    .logo-respon{
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .iconos{
        margin: 3px;
        display: flex;
        align-items: center;
    }

    .separador-linea {
        width: 425px;
    }
    .separador-linea2{
        display: none;
    }
    section.categorias {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 4em;
        margin-top: 100px;
    }

    .primeras {
        margin-top: 0px;
    }
    
    img.c-imagen {
        width: 172px;
        height: 283px;
    }

    /* NEW IN  */

    .enlaces {
        display: flex;
        margin-top: 30px;
        margin-bottom: -36px;
        margin-left: 20px;
        gap: 12px;
    }
    .enlaces a{
        font-size: 14px;
    }


    .newin-box {
        display: flex;
        flex-flow: row wrap;
        margin-top: 3px;
        padding: 0px 0px 0px 0px;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: row;
        justify-content: center;
        max-width: 425px;
    }

    .newin-box {
        background-color: $background-segundario;
        height: auto;
    }

    .card-newin {
    margin-bottom: 114px;
    }

    .name_clothes {
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        text-align: start;
        margin-top: 8px;
        color: #000000;
    }
}