/* FAQS */

.contenedor-pregs{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Montserrat', sans-serif;
    color: $background-segundario;
    text-align: center;
}

.contenedor-pregs h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.pregs{
    background-color: $background-segundario;
    
}

.pregs label{
    display: block;
    font-size: 25px;
    color: #000000;
    text-align: center;
    padding: 15px;
    margin-bottom: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn-pregs{
    display: none;
}

.pregs .contenido-pregs{
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}

.btn-pregs:checked ~ .contenido-pregs{
    max-height: 600px;
    padding: 15px 0px;
}

.contenedor-pregs{
    margin-bottom: 180px;
}