/* NEW IN */

.newin-box{
    background-color: $background-segundario ;
    height: 1560px;
}

.newin-box{
    display: flex;
    flex-flow: row wrap;
    column-gap: 200px;
    margin-top: 0px;
    padding: 0px 0px 0px 400px;
}

.card-newin{
    margin-top:100px;
    width: 200px;
    height: 300px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.conteiner-card{
    text-align: start;
    color: black;
    font-family: 'Montserrat', sans-serif;
    background-color: $background-segundario;
    letter-spacing: 1px;
    font-size: 15px;
    max-block-size: 100px;
    
}

.name_clothes{
    font-size: 25px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    margin-top: 8px;
}
